<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Users</title>
</head>
<body>
<h2>List of Users</h2>

<table border="5">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Roles</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.email}"></td>
        <td>
            <span th:each="role : ${user.roles}">
                <span th:text="${role.name}"></span>
            </span>
        </td>
        <td>
            <a th:href="@{/admin/edit/{id}(id=${user.id})}">Edit</a>
            <a th:href="@{/admin/delete/{id}(id=${user.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<ul>
    <li th:if="${session.isAdmin}">
        <a href="/admin">Admin</a>
    </li>
    <li>
        <a href="/user">User</a>
    </li>
</ul>
<a th:href="@{/admin/add}">Add User</a>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>